@import '../variables/index';
@import '../mixins/mixins';

%items {
    display: inline-block;
    border: $item-border;
    border-radius: 4px;
    height: 40%;
}

%display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

%flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

%align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


%flex-center {
    @extend %display-flex;
    @extend %align-center;
    justify-content: center;
}

%action-button {
    @extend %flex-center;
    height: 40px;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: 200;
    background-color: $blue40;
    color: $main-white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

%blink {
    animation: blink 1s linear infinite;

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}