.cash-container {
    width: calc(30% - 12px);
    margin-bottom: 24px;
    padding: 16px;
    background-color: $main-white;
    height: 35rem;
    @include box-shadow($main-shadow);
    @include mobileMax {
        width: 100%;
        height: auto;
    }

    &_items {
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        overflow-y: auto;
        max-height: 25rem;

        &_box {
            @extend %items;
            text-align: center;
            font-size: 1.5em;
            margin: 5px 15px 0 15px;
            padding: 5px;
            background-color: $blue30;
            color: $main-green;
            width: 60px;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }

    &_div {
        height: 70%;
        width: 100%;
        @extend %display-flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-evenly;
        @extend %align-center;

        @include mobileMax {
            padding: 15px
        }

        &_total-coin {
            @extend %flex-center;
            margin-top: 20px;
            justify-content: space-evenly;
            padding: 5px;
            height: 40px;
            width: 10rem;
            border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 200;
            background-color: $blue30;
            color: $main-green;
            margin-bottom: 5px;
        }

        &_total {
            @extend %flex-center;
            justify-content: space-evenly;
            padding: 5px;
            height: 40px;
            width: 10rem;
            border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 200;
            background-color: $main-white;
            border: 1px solid $main-black;
            color: $main-black;
            margin-bottom: 5px;
        }

        &_action {
            width: 100%;
            @extend %display-flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;

            @include mobileMax {
                justify-content: space-evenly;
            }

            &_cancel {
                @extend %action-button;
                background-color: $main-white;
                color: $main-red;
                border: 1px solid $main-red;
            }

            &_complete {
                @extend %action-button;
                background-color: $main-white;
                color: $main-green;
                border: 1px solid $main-green;
            }

            &_complete.disabled {
                background-color: #ccc;
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}

