@import '../variables/index';

@mixin mobileMax {
    @media only screen and (max-width: $mobile) {
        @content
    }
};

@mixin mobileMin {
    @media (max-width: $mobile) {
        @content
    }
};

@mixin box-shadow($input) {
    -webkit-box-shadow: $input;
    box-shadow:$input;
    -moz-box-shadow:$input;
};